---
import Layout from "../layouts/Layout.astro";
import HeroGallery from "../components/HeroGallery.astro";

import "../styles/new.css";
import Card from "../components/Card.astro";
import NavBar from "../components/NavBar.astro";



import WordCloud from "../components/WordCloud.astro";
const heatmapJson = {
  Embedded: 9,
  "System Control ": 15,
  "business \n analysis": 5,
  "matlab": 12,
  data: 7,
  java: 3,
  python: 10,
  // Add more as your list grows...
};
const projects = [
  {
    title: "Emerge Start-up",
    body: "Support entrepreneurs in building their MVPs",
    href: "/",
    picurl: "/proj/emer.jpeg"
  },
  {
    title: "Charity Event",
    body: "Raised over $300 for local charities",
    href: "/",
    picurl: "/proj/RAG.jpg"
  },
  {
    title: "VapeDrop",
    body: "change the afterlives of disposable vapes",
    href: "/",
    picurl: "/proj/vapedrop.jpg"
  },
  {
    title: "Satellite Comp.",
    body: "Achieveing Best Innovation Award nationally",
    href: "/",
    picurl: "/proj/ukseds.jpeg"
  },
  {
    title: "VapeDrop",
    body: "change the afterlives of disposable vapes",
    href: "/",
    picurl: "/proj/vapedrop.jpg"
  },
  {
    title: "Satellite Comp.",
    body: "Achieveing Best Innovation Award nationally",
    href: "/",
    picurl: "/proj/ukseds.jpeg"
  }
];
---

<Layout title="Welcome">
         <nav class="sticky text-end" style="z-index: 1000;" id="about123"> 
          <NavBar></NavBar>
         </nav>
   <HeroGallery /> <!-- client:load for hydration -->
  <!-- <div class="top h-[100vh]">
    <div class="cover h-full">
         <nav class="sticky top-0 text-end"> 
          <NavBar></NavBar>
         </nav>
         <div class="cover-content h-full flex justify-center flex-col ml-5">
           <h1 class="mastheadtitle"><pre class="block !text-xl ml-5">Hey. </pre>I'm Shalev <br/> Engineer Consultant</h1> 
         <div class="mt-9 pb-36">
          <a href="/#takealook"><button class="rounded-full py-3 px-6 border-solid border-2">Take a look</button></a>
          <a href="/#contactme"><button class="rounded-full py-3 px-6 border-solid border-2">Get in Touch</button></a>
         </div>
         </div>
   
    </div>
  </div> -->
  <div class="" id="takealook"></div>
  <div class="flex py-24 justify-center items-center bg-slate-200 flex-col">
    <h5 class="text-black"><div class="text-xl inline">What</div>    &emsp; do I do?</h5>
    <h2 class="sectionHeading block">  <WordCloud data={heatmapJson} /></h2>
  </div>
  <div id="thisisindexproject"></div>
  <div class="">
    <nav class="sticky top-0 text-end"> 
      <NavBar></NavBar>
     </nav>
     <div class="flex flex-col lg:hidden align-middle justify-center items-center  ">
      <h2 class="ml-5 py-12 text-3xl">A peek on what I worked on</h2>
           {projects.map((project) => (
   
        <Card title={project.title} body={project.body} href={project.href} picurl={project.picurl} />

    ))}
       
     </div>
     <div class="hidden lg:flex pt-32 pb-56 justify-center items-center  flex-col">
      <h2 class="pb-12 text-3xl">A peek on what I worked on</h2>
      <table>
      {projects.reduce((rows: any[], project: { title: string; body: string | undefined; href: string; picurl: string; }, index) => {
    if (index % 2 === 0) {
      rows.push([]);
    }
    rows[rows.length - 1].push(project);
    return rows;
  }, []).map((row) => (
    <tr>
      {row.map((project: { title: string; body: string | undefined; href: string; picurl: string; }) => (
        <td>
          <Card title={project.title} body={project.body} href={project.href} picurl={project.picurl} />
        </td>
      ))}
    </tr>
  ))}
</table>
    </div>
  </div>
  
  <div class="" id="contactme"></div>
  <div class="top h-[500px]">
    
    <div class="cover h-full">
     
      <div class="cover-content h-full max-md:w-full max-md:ml-5 w-[50%] flex justify-center items-start flex-col mx-auto">
        <h5 class="pb-8" id="contact">Let's connect</h5>
        <a href="/pic/Shalev-whatsapp-preferred.vcf" download><h2 class="sectionHeading block my-2 hover:underline hover:cursor-pointer">Save as contact (.vCard)</h2></a>
        <a href="https://www.linkedin.com/in/shalevl/"><h2 class="sectionHeading block my-2 hover:underline hover:cursor-pointer">Linkedin</h2></a>
        <h6 class="pt-24">@ 2024, Designed by Shalev, Inspired by Jamie Phan.</h6>
      </div>
      <nav class="sticky bottom-0 text-end"> 
        <NavBar></NavBar>
       </nav>
  </div>
    
</div> 
</Layout>